# =========================================
# NODE.JS
# =========================================

node_modules/
npm-debug.log

# Coverage
coverage/

# Logs
logs
*.log

# Environment variables
.env

# =========================================
# SONARQUBE
# =========================================

.scannerwork/

# =========================================
# TERRAFORM
# =========================================

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================================
# KUBERNETES
# =========================================

kubeconfig.yaml

# =========================================
# ANSIBLE
# =========================================

*.retry

# =========================================
# DOCKER
# =========================================

docker-data/
jenkins_home/

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# INTELLIJ / WEBSTORM
# =========================================

.idea/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# TEMP FILES
# =========================================

tmp/
temp/

# =========================================
# JENKINS
# =========================================

jenkins_backup/

# =========================================
# MINIKUBE
# =========================================

.minikube/

# =========================================
# TEST FILES
# =========================================

*.test-output

# =========================================
# SECRET FILES
# =========================================

*.pem
*.key
id_rsa
id_rsa.pub